@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

body {  
 min-height: 100vh;
  font-family: 'Inter', sans-serif;
  margin: 0;
}

.theme-box {
@apply
    rounded-2xl
    border
    shadow-lg
    transition-colors
    bg-slate-50
    text-slate-800
    border-slate-200
    dark:bg-[#111b34]
    dark:text-gray-200
    dark:border-[#1e2a48];
}

.productInfo {
  display: flex;
  flex-direction: column;
}
.productCard {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: flex-start;
}

.productsContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
@media screen and (max-width: 768px) {
  body{
    flex-direction: column;
    align-items: center;
  }
  .productsContainer {
    flex-direction: column;
}
.productCard {
    flex: 0 0 auto;
    width: 400px;
    align-items: flex-start;
    max-width: 100%;
  }
}