@import 'tailwindcss';

body {
  background-color: #0b132b;
  color: #e5e7eb; /* text-gray-200 */
  font-family: 'Inter', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.productInfo {
  display: flex;
  flex-direction: column;
}
.productCard {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: flex-start;
  height: fit-content;
  width: fit-content;
}